.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.slider-img {
    width: 500px;
    height: 600px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.buttons {
    display: flex;
    gap: 10px;
}

.slider-btn {
    background-color: #ffeda3;
    border: none;
    color: #232323;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
}

.slider-btn:hover {
    background-color: aquamarine;

}

@media (max-width: 800px)  {
    .slider-img {
        width: 60%;
        
    }

    .slider-btn {
        font-size: 15px;
        padding: 4px 10px;
    }
}